.dark-medium-contrast {
  --md-sys-color-primary: rgb(151 235 224);
  --md-sys-color-surface-tint: rgb(129 213 202);
  --md-sys-color-on-primary: rgb(0 43 39);
  --md-sys-color-primary-container: rgb(73 158 149);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(198 226 221);
  --md-sys-color-on-secondary: rgb(16 42 39);
  --md-sys-color-secondary-container: rgb(123 150 146);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(196 223 253);
  --md-sys-color-on-tertiary: rgb(8 40 62);
  --md-sys-color-tertiary-container: rgb(121 147 174);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 21 20);
  --md-sys-color-on-background: rgb(221 228 226);
  --md-sys-color-surface: rgb(14 21 20);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 73 71);
  --md-sys-color-on-surface-variant: rgb(212 223 220);
  --md-sys-color-outline: rgb(170 180 178);
  --md-sys-color-outline-variant: rgb(136 146 144);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(221 228 226);
  --md-sys-color-inverse-on-surface: rgb(37 43 42);
  --md-sys-color-inverse-primary: rgb(0 81 75);
  --md-sys-color-primary-fixed: rgb(157 242 230);
  --md-sys-color-on-primary-fixed: rgb(0 21 18);
  --md-sys-color-primary-fixed-dim: rgb(129 213 202);
  --md-sys-color-on-primary-fixed-variant: rgb(0 62 56);
  --md-sys-color-secondary-fixed: rgb(204 232 227);
  --md-sys-color-on-secondary-fixed: rgb(0 21 18);
  --md-sys-color-secondary-fixed-dim: rgb(177 204 199);
  --md-sys-color-on-secondary-fixed-variant: rgb(34 59 55);
  --md-sys-color-tertiary-fixed: rgb(205 229 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 18 34);
  --md-sys-color-tertiary-fixed-dim: rgb(174 201 230);
  --md-sys-color-on-tertiary-fixed-variant: rgb(29 56 80);
  --md-sys-color-surface-dim: rgb(14 21 20);
  --md-sys-color-surface-bright: rgb(63 70 68);
  --md-sys-color-surface-container-lowest: rgb(4 8 8);
  --md-sys-color-surface-container-low: rgb(24 31 30);
  --md-sys-color-surface-container: rgb(35 41 40);
  --md-sys-color-surface-container-high: rgb(45 52 51);
  --md-sys-color-surface-container-highest: rgb(56 63 62);
}
